#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/adaptive_feedback.h>
#include <dt-bindings/zmk/bistable_behavior.h>
#include <dt-bindings/zmk/p2sm.h>

#ifndef LAYER_DEFAULT
#define LAYER_DEFAULT      0
#define LAYER_EXTRAS       1
#define LAYER_DEVICE       2
#define LAYER_SCROLL       3
#define LAYER_SNIPE        4
#define LAYER_USER         5
#endif

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			display-name = "Default";
			DECLARE_ENCODERS;
			bindings = <
			    // buttons
			    &ltm LAYER_USER MCLK 		&ltmkp LAYER_SCROLL LG(TAB)
			    &mkp LCLK                 	&CDCH_RCI LAYER_SNIPE 0
			    &ltm LAYER_EXTRAS RCLK    	&mkp LCLK
			    &cdch LAYER_DEVICE 0     	&BCK_FWD_HOLD LAYER_DEVICE 0

			    // rotary encoders
			    &kp LC(LG(LEFT))			&kp LC(LG(RIGHT))
			    &kp LC(LG(RIGHT))           &kp LC(LG(LEFT))
		    >;
		};

// default Efog settings
//		default_layer {
//			display-name = "Default";
//			DECLARE_ENCODERS;
//			bindings = <
//			    // buttons
//			    &ltmkp LAYER_SNIPE ENTER  &ltmkp LAYER_SCROLL ESC
//			    &mkp MCLK                 &cdch LAYER_SCROLL 0
//			    &mkp LCLK                 &mkp RCLK
//			    &ltm LAYER_EXTRAS MB4     &ltm LAYER_DEVICE MB5
//
//			    // rotary encoders
//			    &kp C_VOL_UP              &kp LC(TAB)
//			    &kp C_VOL_DN              &kp LC(LS(TAB))
//		    >;
//		};		

		layer1 {
			display-name = "Extras";
			DECLARE_ENCODERS;
			bindings = <
			    &bst_copy      	&bst_paste
			    &LCTRL_LALT_HOME       &LCTRL_LALT_HOME
			    &ALT_TAB      	&ALT_TAB
			    &LCTRL_TAB      &LCTRL_TAB

			    &kp C_VOL_UP   &kp LC(TAB)
			    &kp C_VOL_DN   &kp LC(LS(TAB))
	   		>;
		};

		layer2 {
			display-name = "Device";
			DECLARE_ENCODERS;
			bindings = <
			    &mui_or_dgl          &bt BT_CLR
			    &bst_tog ZBS_TOG     &bt BT_NXT
			    &af_toggle AF_TOG    &bt BT_PRV
			    &studio_unlock       &trans

			    &kp C_VOL_UP         &kp LC(TAB)
			    &kp C_VOL_DN         &kp LC(LS(TAB))
		   	>;
		};

		layer3 {
			display-name = "Scroll";
			DECLARE_ENCODERS;
			bindings = <
			    &trans              &trans
			    &trans              &scrlsens P2SM_INC 1
			    &rrl 1              &scrlsens P2SM_DEC 1
			    &sens P2SM_DEC 1    &sens P2SM_INC 1

			    &sens P2SM_DEC 1    &scrlsens P2SM_INC 1
			    &sens P2SM_INC 1    &scrlsens P2SM_DEC 1
		  	>;
		};

		layer4 {
			display-name = "Snipe";
			DECLARE_ENCODERS;
			bindings = <
			    &trans           &soft_off
			    &trans           &trans
			    &skmp 1          &skmp 4
			    &skmp 2          &skmp 3

			    &kp LEFT         &kp RIGHT
			    &kp RIGHT        &kp LEFT
	   		>;
		};

		layer5 {
			display-name = "User";
			DECLARE_ENCODERS;
			bindings = <
				&trans        &soft_off
				&trans        &trans
				&skmp 1       &skmp 4
			    &skmp 2       &skmp 3


				&kp C_VOL_UP  &kp LC(TAB)
				&kp C_VOL_DN  &kp LC(LS(TAB))
		    >;
		};
	};

	trackball {
		input-processors = <&zip_bistable_twist_scaler>,
						   <&zip_pointer_accel>, <&zip_scroll_accel>, <&zip_rotate_pointer>,
		                   <&esb_ip>, <&zip_ble_report_rate_limit>;

		scroll {
			layers = <LAYER_SCROLL>;
			input-processors = <&zip_bistable_scroll_xy_scaler>, <&zip_axis_clamper>,
							   <&zip_xy_to_scroll_mapper>, <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>,
							   <&zip_dragscroll_accel>, <&zip_rotate_scroll>,
							   <&esb_ip>, <&zip_ble_report_rate_limit>;
		};

		snipe {
			layers = <LAYER_SNIPE>;
			input-processors = <&zip_bistable_snipe_scaler>, <&zip_rotate_pointer>,
							   <&esb_ip>, <&zip_ble_report_rate_limit>;
		};
	};

	behaviors {
		CDCH_RCI: click_double_click_hold_rci {
			compatible = "zmk,behavior-hold-tap";
			display-name = "Paste/Copy/Layer (click/double-click/hold)";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <300>;
			bindings = <&mo>, <&CDC_RCI>;
		};

		CDC_RCI: click_double_click_rci {
			compatible = "zmk,behavior-tap-dance";
			display-name = "Paste/Copy (click/double-click)";
			#binding-cells = <0>;
			tapping-term-ms = <300>;
			bindings = <&kp LG(V)>, <&kp LC(C)>;
		};

		BCK_FWD: bck_fwd {
			compatible = "zmk,behavior-tap-dance";
			display-name = "Back/Forward (tap/double-tap)";
			#binding-cells = <0>;
			tapping-term-ms = <300>;
			bindings = <&mkp MB4>, <&mkp MB5>;
		};

		BCK_FWD_HOLD: bck_fwd_hold {
			compatible = "zmk,behavior-hold-tap";
			display-name = "Back/Forward/Layer (click/double-click/hold)";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <300>;
			bindings = <&mo>, <&BCK_FWD>;
		};		
	};

	macros {
		ALT_TAB: alt_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp TAB>
                , <&macro_pause_for_release>
                , <&macro_release &kp LALT>;
        };

		LCTRL_TAB: lctrl_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp TAB>
                , <&macro_pause_for_release>
                , <&macro_release &kp LCTRL>;
        };	

		LCTRL_LALT_HOME: lctrl_lalt_home {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
				, <&macro_press &kp LALT>
                , <&macro_tap &kp HOME>
                , <&macro_pause_for_release>
				, <&macro_release &kp LALT>
                , <&macro_release &kp LCTRL>;
        };		
	};	
};
